{% extends "index.twig" %}

{% block content %}

{# if logeado #}
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#formContainer" aria-expanded="false" aria-controls="formContainer">
        Añadir categoria
    </button>

    <div class="collapse container" id="formContainer">
        <form action="/categorias/add" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" name="name" id="name" class="form-control">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Descripcion</label>
                <input type="text" name="description" id="description" class="form-control">
            </div>
            <div class="mb-3">
                <label for="color" class="form-label">Color</label>
                <input type="color" class="form-control form-control-color" name="color" id="color" value="#563d7c" title="Choose your color">
            </div>
            <button class="btn" type="submit">Añadir</button>
        </form>
    </div>
{# endif #}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Color</th>
            {# if logeado #}
            <th>Editar</th>
            <th>Borrar</th>
            {# endif #}
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.description}}</td>
                <td>{{ category.color }}</td>
                {# if logeado #}
                <td><a class="btn bi bi-pencil-square" href="/categorias/{{ category.id }}/edit"></a></td>
                <td><a class="btn bi bi-trash" href="/categorias/{{ category.id}}/delete"></a></td>
                {# endif #}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}